
body{

    background-image: url(png/Wallpaperclean.gif);
    background-color: black;
    background-repeat: no-repeat;    
    background-position: center;
    background-size: 100%;
    background-attachment: fixed;

}
.Confimacao{

    border: 2px white solid;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 10%;
    margin-right: 60%;
    margin-left: 10%;
    padding-bottom: 3%;
    color: white;

}
button{

    height: 50px;
    width: 300px;
    margin-left: 23%;
    

}