
body{

    background-image: url(pngs/Wallpaperclean.gif);
    background-repeat: no-repeat;    
    background-position: center;
    background-size: 100%;
    background-attachment: fixed;

}
.Confimacao{

    /* border: 2px white solid; */
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 7%;
    margin-right: 50%;
    margin-left: 2%;
    padding-bottom: 3%;
    color: white;

}

.Conteiner h1{

    color: white;
    margin-bottom: 8%;
    font-size: 125px;
    margin-bottom: 0%;

}

p {

    display: flex;
    margin-left: 18%;
    font-size: 30px;

}

.dot{

    color: rgb(16, 16, 190);

}

button{

    height: 50px;
    width: 300px;
    margin-left: 23%;

    border: solid 2px white;
    
    height: 50px;
    width: 314px;
    margin-bottom: 8%;

    font-size: 35px;
    color: white;
    background-image: linear-gradient(to bottom right, #6f8fb9, #0b385c, #0b385c, #6f8fb9);

    border-radius: 15px;
    border: 0px transparent;
}

.Button-Login{

    display: flex;
    margin-left: 10%;

}